In [1]:
# Dependencies
import numpy as np
import pandas as pd
import time

In [2]:
pwd

'C:\\Users\\salee\\projectpractice'

In [3]:
fraudTrain_df = pd.read_csv("./Data/fraudTrain.csv")
fraudTrain_df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,1/1/2019 0:00,2.703190e+15,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",3/9/1988,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,1/1/2019 0:00,6.304230e+11,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,6/21/1978,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,1/1/2019 0:00,3.885950e+13,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1/19/1962,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,1/1/2019 0:01,3.534090e+15,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1/12/1967,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,1/1/2019 0:03,3.755340e+14,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,3/28/1986,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048570,3/10/2020 16:07,6.011980e+15,fraud_Fadel Inc,health_fitness,77.00,Haley,Wagner,F,05561 Farrell Crescent,...,39.0305,-76.5515,92106,"Accountant, chartered certified",5/28/1943,45ecd198c65e81e597db22e8d2ef7361,1362931649,38.779464,-76.317042,0
1048571,1048571,3/10/2020 16:07,4.839040e+15,"fraud_Cremin, Hamill and Reichel",misc_pos,116.94,Meredith,Campbell,F,043 Hanson Turnpike,...,41.1826,-92.3097,1583,Geochemist,6/28/1999,c00ce51c6ebb7657474a77b9e0b51f34,1362931670,41.400318,-92.726724,0
1048572,1048572,3/10/2020 16:08,5.718440e+11,"fraud_O'Connell, Botsford and Hand",home,21.27,Susan,Mills,F,005 Cody Estates,...,38.2507,-85.7476,736284,Engineering geologist,4/2/1952,17c9dc8b2a6449ca2473726346e58e6c,1362931711,37.293339,-84.798122,0
1048573,1048573,3/10/2020 16:08,4.646850e+18,fraud_Thompson-Gleason,health_fitness,9.52,Julia,Bell,F,576 House Crossroad,...,40.7320,-73.1000,4056,Film/video editor,6/25/1990,5ca650881b48a6a38754f841c23b77ab,1362931718,39.773077,-72.213209,0
1048574,1048574,3/10/2020 16:08,2.283740e+15,fraud_Buckridge PLC,misc_pos,6.81,Shannon,Williams,F,9345 Spencer Junctions Suite 183,...,34.0770,-84.3033,165556,Prison officer,12/27/1997,8d0a575fe635bbde12f1a2bffc126731,1362931730,33.601468,-83.891921,0

In [4]:
# read_csv function which is used to read the required CSV file
df = pd.read_csv("./Data/fraudTrain.csv")


df = df.drop(['cc_num','merchant','street', 'trans_date_trans_time','first','last','city','state','job','trans_num' ], axis='columns')
df = df.set_index('Unnamed: 0')




# display 
df.head()

,category,amt,gender,zip,lat,long,city_pop,dob,unix_time,merch_lat,merch_long,is_fraud
Unnamed: 0,,,,,,,,,,,,
0,misc_net,4.97,F,28654,36.0788,-81.1781,3495,3/9/1988,1325376018,36.011293,-82.048315,0
1,grocery_pos,107.23,F,99160,48.8878,-118.2105,149,6/21/1978,1325376044,49.159047,-118.186462,0
2,entertainment,220.11,M,83252,42.1808,-112.2620,4154,1/19/1962,1325376051,43.150704,-112.154481,0
3,gas_transport,45.00,M,59632,46.2306,-112.1138,1939,1/12/1967,1325376076,47.034331,-112.561071,0
4,misc_pos,41.96,M,24433,38.4207,-79.4629,99,3/28/1986,1325376186,38.674999,-78.632459,0

In [5]:
fraudTrain_df.dtypes

Unnamed: 0                 int64
trans_date_trans_time     object
cc_num                   float64
merchant                  object
category                  object
amt                      float64
first                     object
last                      object
gender                    object
street                    object
city                      object
state                     object
zip                        int64
lat                      float64
long                     float64
city_pop                   int64
job                       object
dob                       object
trans_num                 object
unix_time                  int64
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object

In [6]:
# Identify incomplete rows
fraudTrain_df.count()

Unnamed: 0               1048575
trans_date_trans_time    1048575
cc_num                   1048575
merchant                 1048575
category                 1048575
amt                      1048575
first                    1048575
last                     1048575
gender                   1048575
street                   1048575
city                     1048575
state                    1048575
zip                      1048575
lat                      1048575
long                     1048575
city_pop                 1048575
job                      1048575
dob                      1048575
trans_num                1048575
unix_time                1048575
merch_lat                1048575
merch_long               1048575
is_fraud                 1048575
dtype: int64

In [7]:
# converting amt column to include $ sign
fraudTrain_df['amt'] = ('$' + fraudTrain_df['amt'].astype(str))

print(fraudTrain_df.dtypes)
fraudTrain_df

Unnamed: 0                 int64
trans_date_trans_time     object
cc_num                   float64
merchant                  object
category                  object
amt                       object
first                     object
last                      object
gender                    object
street                    object
city                      object
state                     object
zip                        int64
lat                      float64
long                     float64
city_pop                   int64
job                       object
dob                       object
trans_num                 object
unix_time                  int64
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,1/1/2019 0:00,2.703190e+15,"fraud_Rippin, Kub and Mann",misc_net,$4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",3/9/1988,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,1/1/2019 0:00,6.304230e+11,"fraud_Heller, Gutmann and Zieme",grocery_pos,$107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,6/21/1978,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,1/1/2019 0:00,3.885950e+13,fraud_Lind-Buckridge,entertainment,$220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1/19/1962,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,1/1/2019 0:01,3.534090e+15,"fraud_Kutch, Hermiston and Farrell",gas_transport,$45.0,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1/12/1967,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,1/1/2019 0:03,3.755340e+14,fraud_Keeling-Crist,misc_pos,$41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,3/28/1986,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048570,3/10/2020 16:07,6.011980e+15,fraud_Fadel Inc,health_fitness,$77.0,Haley,Wagner,F,05561 Farrell Crescent,...,39.0305,-76.5515,92106,"Accountant, chartered certified",5/28/1943,45ecd198c65e81e597db22e8d2ef7361,1362931649,38.779464,-76.317042,0
1048571,1048571,3/10/2020 16:07,4.839040e+15,"fraud_Cremin, Hamill and Reichel",misc_pos,$116.94,Meredith,Campbell,F,043 Hanson Turnpike,...,41.1826,-92.3097,1583,Geochemist,6/28/1999,c00ce51c6ebb7657474a77b9e0b51f34,1362931670,41.400318,-92.726724,0
1048572,1048572,3/10/2020 16:08,5.718440e+11,"fraud_O'Connell, Botsford and Hand",home,$21.27,Susan,Mills,F,005 Cody Estates,...,38.2507,-85.7476,736284,Engineering geologist,4/2/1952,17c9dc8b2a6449ca2473726346e58e6c,1362931711,37.293339,-84.798122,0
1048573,1048573,3/10/2020 16:08,4.646850e+18,fraud_Thompson-Gleason,health_fitness,$9.52,Julia,Bell,F,576 House Crossroad,...,40.7320,-73.1000,4056,Film/video editor,6/25/1990,5ca650881b48a6a38754f841c23b77ab,1362931718,39.773077,-72.213209,0
1048574,1048574,3/10/2020 16:08,2.283740e+15,fraud_Buckridge PLC,misc_pos,$6.81,Shannon,Williams,F,9345 Spencer Junctions Suite 183,...,34.0770,-84.3033,165556,Prison officer,12/27/1997,8d0a575fe635bbde12f1a2bffc126731,1362931730,33.601468,-83.891921,0

In [8]:
Postcodes_df = pd.read_csv(".\Data\Postcodes.csv")
Postcodes_df

      state  zipcode  total_pop  total_income country     avg_income
0        AK        0     345220      25354974     USA   73445.843230
1        AK    99501       7690        612242     USA   79615.344603
2        AK    99502      11860       1000685     USA   84374.789207
3        AK    99503       7510        462394     USA   61570.439414
4        AK    99504      19440       1176109     USA   60499.434156
...     ...      ...        ...           ...     ...            ...
27653    WY    83126        200         17041     USA   85205.000000
27654    WY    83127       1620        135778     USA   83813.580247
27655    WY    83128        950        119435     USA  125721.052632
27656    WY    83414        230         60700     USA  263913.043478
27657    WY    99999      15820       1376755     USA   87026.232617

[27658 rows x 6 columns]

In [9]:
Postcodes_df.dtypes

state            object
zipcode           int64
total_pop         int64
total_income      int64
country          object
avg_income      float64
dtype: object

In [10]:
#Rounding to 2 decimal points
Postcodes_df['avg_income'].apply(lambda x: round(x,2))

0         73445.84
1         79615.34
2         84374.79
3         61570.44
4         60499.43
           ...
27653     85205.00
27654     83813.58
27655    125721.05
27656    263913.04
27657     87026.23
Name: avg_income, Length: 27658, dtype: float64

In [11]:
#Rounding to 2 decimal points
Postcodes_df['avg_income'] = Postcodes_df['avg_income'].apply(lambda x: round(x,2))

# converting avg_income column to include $ sign
Postcodes_df['avg_income'] = Postcodes_df['avg_income'].apply(lambda x: f'${x}')


print(Postcodes_df.dtypes)
Postcodes_df

state           object
zipcode          int64
total_pop        int64
total_income     int64
country         object
avg_income      object
dtype: object

      state  zipcode  total_pop  total_income country  avg_income
0        AK        0     345220      25354974     USA   $73445.84
1        AK    99501       7690        612242     USA   $79615.34
2        AK    99502      11860       1000685     USA   $84374.79
3        AK    99503       7510        462394     USA   $61570.44
4        AK    99504      19440       1176109     USA   $60499.43
...     ...      ...        ...           ...     ...         ...
27653    WY    83126        200         17041     USA    $85205.0
27654    WY    83127       1620        135778     USA   $83813.58
27655    WY    83128        950        119435     USA  $125721.05
27656    WY    83414        230         60700     USA  $263913.04
27657    WY    99999      15820       1376755     USA   $87026.23

[27658 rows x 6 columns]

In [ ]:
from datetime import datetime

# current time
now = datetime.now()

# date of birth
birth = datetime.strptime("12-Jan-79", "%d-%b-%y")

age = int((now - birth).days/365)
print("Person's age is: " + str(age))

In [ ]:

from datetime import datetime
from datetime import date

def age(born):
    born = datetime.strptime(born, "%Y-%m-%d").date()
    today = date.today()
    return today.year - born.year - ((today.month, 
                                      today.day) < (born.month, 
                                                    born.day))
  
df['Age'] = df['dob'].apply(age)
df.head()

In [12]:
# read_csv function which is used to read the required CSV file
data1 = pd.read_csv(".\Data\Postcodes.csv")

# display 
print(".\Data\Postcodes.csv")
print(data1)

# drop function which is used in removing or deleting rows or columns from the CSV files
data1.drop('state', inplace=True, axis=1)

# drop function which is used in removing or deleting rows or columns from the CSV files
data1.drop('total_pop', inplace=True, axis=1)

# drop function which is used in removing or deleting rows or columns from the CSV files
data1.drop('total_income', inplace=True, axis=1)

# drop function which is used in removing or deleting rows or columns from the CSV files
data1.drop('country', inplace=True, axis=1)



# display 
print("\nCSV Data after deleting the column 'state':\n")
print(data1)

.\Data\Postcodes.csv
      state  zipcode  total_pop  total_income country     avg_income
0        AK        0     345220      25354974     USA   73445.843230
1        AK    99501       7690        612242     USA   79615.344603
2        AK    99502      11860       1000685     USA   84374.789207
3        AK    99503       7510        462394     USA   61570.439414
4        AK    99504      19440       1176109     USA   60499.434156
...     ...      ...        ...           ...     ...            ...
27653    WY    83126        200         17041     USA   85205.000000
27654    WY    83127       1620        135778     USA   83813.580247
27655    WY    83128        950        119435     USA  125721.052632
27656    WY    83414        230         60700     USA  263913.043478
27657    WY    99999      15820       1376755     USA   87026.232617

[27658 rows x 6 columns]

CSV Data after deleting the column 'state':

       zipcode     avg_income
0            0   73445.843230
1        99501   79615.344603
2        99502   84374.789207
3        99503   61570.439414
4        99504   60499.434156
...        ...            ...
27653    83126   85205.000000
27654    83127   83813.580247
27655    83128  125721.052632
27656    83414  263913.043478
27657    99999   87026.232617

[27658 rows x 2 columns]